{"filter":false,"title":".htaccess","tooltip":"/repository/projectai/.htaccess","ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":5,"column":11},"end":{"row":5,"column":11},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":101,"mode":"ace/mode/apache_conf"}},"hash":"6a7a7f3682c8e8a069546a99dae761b954f97981","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":0,"column":0},"end":{"row":5,"column":11},"action":"insert","lines":["<IfModule mod_rewrite.c>","    RewriteEngine on","    RewriteCond %{REQUEST_FILENAME} !-f","    RewriteCond %{REQUEST_FILENAME} !-d","    RewriteRule ^(.*)$ index.php/$1 [L,QSA]","</IfModule>"],"id":1}]]},"timestamp":1615956444713}